# Ignore additional files and folders
/logs
/node_modules
/dist

# Ignore docker files
/Dockerfile
/.dockerignore

# Ignore git files
/.git
/.gitignore

# Ignore environment files
/.env

# Ignore test files
/test
*.spec.ts